.toolbox {
    /* border-radius: 0 0 10px 10px; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.8); */
    background-color: #575555;
}

.tool {
    cursor: pointer;
}

.tool:hover {
    transform: scale(1.2);
}

canvas {
    cursor: crosshair;
}

body {
    overflow: hidden;
}

.col-9 {
    height: 100vh;
    border: 1px solid grey;

}

.container {
    max-width: 100%;
    max-height: 100%;
}

.chat {
    height: 100%;
}

.msg-type {
    margin-bottom: 0;
}

.header {
    height: 10%;
    margin-bottom: 3%;
}

.msg-text {
    height: 90%;
    overflow-y: auto;
}

.col-3.card {
    height: 100vh;
}

.x.card {
    height: 83%;
}

#action-bar {
    height: 5%;
    display: flex;
    justify-content: space-around;
}

#action-bar>div {
    cursor: pointer;
}

#video-list {
    height: 83%;
    display: none;
}

#msg {
    width: 90%;
}

#msg_send {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

video {
    border: 2px solid red;
}