.toolbox{
    /* border-radius: 0 0 10px 10px; */
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.8); */
    background-color: #575555;
}

.tool{
    cursor: pointer;
}

.tool:hover{
    transform: scale(1.2);
}
canvas{
    cursor: crosshair;
}
body{
    overflow: hidden;
}

.col-3{
    height: 100vh;
}

.col-9{
    height: 100vh;
    border: 1px solid grey;
    
}

.container{
    max-width: 100%;
}
.chat{
    height: 100%;
}

.msg-type{
    margin-bottom: 0;
}

.msg-text{
    height: 500px;
    overflow: auto;
}

